.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1ft));
  gap: 10px;
  padding: 0 auto;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;

  box-shadow: 2px 2px 6px 6px lightgrey;
  padding: 10px;

  & button {
    background-color: whitesmoke;
    &:hover {
      background-color: teal;
      color: black;
      cursor: pointer;
    }
  }
}

.status {
  font-weight: bold;
}

.greenAccent {
  color: var(--greenAccent);
}

.redAccent {
  color: var(--redAccent);
}

.iconUser {
  width: 25px;
  height: 25px;
  color: gold;
}
