.wrapper {
  display: flex;
  gap: 15px;
}

.boxOne {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;

  background-color: black;
  box-shadow: 0 0 5px 5px red;
  color: blueviolet;
}

.boxTwo {
  composes: boxOne;
  color: gold;
}
